# Token del bot de Telegram (lo obtienes de @BotFather)
TELEGRAM_BOT_TOKEN=TU_TOKEN_AQUI
# URL de la base de datos (lo obtienes de tu proveedor de base de datos)
DB_URL=
# Config connection DB
DB_CONNECTION_RETRY_DELAY_SECONDS=2
DB_CONNECTION_MAX_RETRIES=3